body{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negra_1017-33436.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.d1{    background-color: rgba(95, 12, 12, 0.473);
    display: inline-block;
    height: 15%;
    width: 60%;
    border-radius: 10pc;
    border: 2px;
    border-color: red;
    border-style: double;
}
.name{
    text-align: center;
    color: white;    
}
.d2{
    margin-top: 20px;
    background-color: rgba(95, 12, 12, 0.473);
    display: inline-block;
    width: 60%;
    border-radius: 3pc;
    border-style: double;
    border-color: red;
}
.text1{
    margin-left: 10%;
    width: 80%;
}
h3{
    color: white;
}
.p1{
    color: white;
}
.p2{
    color: white;
}
.p3{
    color: white;
}
.left{
    display: inline-block;
}
