* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negra_1017-33436.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#box {
    display: flex;
    flex-direction: column;
    width: 950px;
    height: 600px;
    margin-top: 75px;
}
.Name{
    background-color: rgb(110, 5, 5);
    width: auto;
    height: 100px;
    border-radius: 1pc;
    border-color: red;
    border-style: double;
}
.div1{
    background-color: rgb(223, 216, 216);
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    border-radius: 1pc;
    border-color: red;
    border-style: double;
    position: relative;
}
.div1 h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 120px;
}
.div1 img{
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: calc(50% - 70px);
}
.p1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box-botones {
    margin-top: 150px;
    display: flex;

}
button{
    height: 30px;
    width: 120px;
    margin: 5%;
    border-radius: 50pc;
    border-color: rgb(110, 5, 5);
    background-color: rgb(131, 131, 131);
    color: white;
}
@media (max-width: 1000px){
    #box {
        width: 800px;
    }
}
@media (max-width: 800px){
    #box {
        width: 600px;
    }
}
@media (max-width: 600px){
    #box {
        width: 400px;
    }
}
@media (max-width: 400px){
    #box {
        width: auto;
    }
}