* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(data/BG.jpeg);
    background-size: cover;
    background-position: center center;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#box {
    display: flex;
    flex-direction: column;
    width: 950px;
    height: 600px;
    margin-top: 75px;
}
.box1 {
    background-color: rgb(110, 5, 5);
    width: auto;
    height: 100px;
    border-radius: 1pc;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    border-color: red;
    border-style: double;
}
.box2 {
    background-color: rgb(220, 220, 220);
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    border-radius: 1pc;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    border-color: red;
    border-style: double;
    position: relative;
}
.box2 h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 120px;
}
.box2 img{
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: calc(50% - 70px);
}
.box2 p{
    text-align: center;
}
.box-botones {
    margin-top: 150px;
    display: flex;
    gap: 15px;
}
button{
    height: 30px;
    width: 120px;
    margin: 5%;
    border-radius: 5pc;
    border-color: rgb(110, 5, 5);
    background-color: rgb(131, 131, 131);
    color: white;
}
button:hover {
    background-color: black;
}
@media (max-width: 1000px){
    #box {
        width: 800px;
    }
}
@media (max-width: 800px){
    #box {
        width: 600px;
    }
}
@media (max-width: 600px){
    #box {
        width: 100%;
    }
}