* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(data/BG.jpeg);
    background-size: cover;
    background-position: center center;
}
#box {
    display: flex;
    align-items: center;
    gap: 15px;
}
.box-left {
    flex: 1;
}
.content-me{
    text-align: center;
    margin: 10px;
    background-color: rgb(220, 220, 220);
    border-color: red;
    border-style: double;
    border-radius: 1pc;
    padding: 5px;
}
.content {
    margin: 10px;
    background-color: rgb(220, 220, 220);
    border-color: red;
    border-style: double;
    border-radius: 1pc;
    padding: 5px;
}
.content p{
    text-align: center;
}
.box-right {
    background-color: rgb(220, 220, 220);
    border-color: red;
    border-style: double;
    border-radius: 1pc;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}
#foto{
    border-radius: 5pc;
    border: 8px;
    border-color: black;
    border-style: solid;
    margin-top: 15px;
}
.botones {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
button {
    height: 30px;
    width: 120px;
    border-radius: 5pc;
    border-color: rgb(110, 5, 5);
    background-color: rgb(131, 131, 131);
    color: white;
}
button:hover {
    background-color: black;
}
@media (max-width: 800px) {
    #box {
        flex-direction: column;
        text-align: center;
    }
}