* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negra_1017-33436.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#cuerpo {
    display: flex;
    flex-direction: column;
}
.box {
    display: flex;
}
.box-left {
    background-color: gray;
    width: 400px;
    height: 800px;
}
.box-right {
    background-color: bisque;
    width: 500px;
    height: 800px;
}
.content-me{
    text-align: center;
    color: white;   
    margin: 10px; 
}
.foto{
    border-radius: 5pc;
    border: 8px;
    border-color: black;
    border-style: solid;
    margin-top: 5%;
}
.botones{
    margin-top: 100pxpx;
    margin-bottom: 91.5px;
    display: flex;
    justify-content: space-around;
}
button{
    height: 30px;
    width: 120px;
    border-radius: 50pc;
    border-color: rgb(110, 5, 5);
    background-color: rgb(131, 131, 131);
    color: white;
}