body{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negra_1017-33436.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.d1{    
    background-color: rgba(95, 12, 12, 0.473);
    display: inline-block;
    height: 15%;
    width: 55%;
    border-radius: 10pc;
    border: 2px;
    border-color: red;
    border-style: double;
}
.name{
    text-align: center;
    color: white;    
}
p{
    color: white;
    text-align: center;
    margin-top: -15px;
}
.d2{
    margin-top: 20px;
    background-color: rgba(95, 12, 12, 0.473);
    display: inline-block;
    width: 55%;
    border-radius: 3pc;
    border-style: double;
    border-color: red;
}
.text1{
    margin-left: 10%;
    width: 80%;
}
h3{
    color: white;
}
.p1{
    color: white;
}
.p2{
    color: white;
}
.p3{
    color: white;
}
.left{
    display: inline-block;
}
.foto{
    display: flex;
    justify-content: center;
    border-radius: 5pc;
    height: 50%;
    margin-left: 25%;
    border: 8px;
    border-color: black;
    border-style: solid;
    margin-top: 5%;
}
.rigth{
    background-color: rgba(95, 12, 12, 0.473);
    border-radius: 3pc;
    border-style: double;
    border-color: red;
    width: 43%;
    display: inline-block;
    float: inline-end;

}
.proyect0{
    text-align: center;
}
.proyect{
    color: white;
    width: 500px;
    margin-left: 40px;
}
.botones{
    margin-top: 100pxpx;
    margin-bottom: 91.5px;
    display: flex;
    justify-content: space-around;
}
button{
    height: 30px;
    width: 120px;
    border-radius: 50pc;
    border-color: rgb(110, 5, 5);
    background-color: rgb(131, 131, 131);
    color: white;
}