body{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negra_1017-33436.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    color: white;
}